{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} 
Main Page
{% endblock title %} 
{% block content%}
<form action="" method="POST">
{% csrf_token %}
{{form|crispy}}
<button type="submit" class="btn btn-primary mt-3">Search</button>
</form>
<br/>
<hr/>

{% if salesdf %}
<h4>Sales Data</h4>
    {{salesdf|safe}}
    <hr/>
    <h4>Positions Data</h4>
    {{positionsdf|safe}}
    <hr/>
    <h4>Combined Data</h4>
    {{merged_df|safe}}
    <hr/>
    <h4>Grouped Data</h4>
    {{df|safe}}
    <hr/>
    <h4>Chart</h4>
    <img src="data:image/png;base64, {{chart|safe}}">
    {% else %}
    <h3> No DATA</h3>
{% endif %}
    
{% endblock content %}
